*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: wheat;
  overflow-x: hidden;
}


.box {
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform .4s ease;
  font-size: 2rem;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show{
  transform: translateX(0);
}