@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.background {
  position: absolute;
  background-image: url("assets/image.png");
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(30px);
  z-index: -1;
}

.text{
  font-size: 10rem;
  color: white;
  opacity: 1;
}